
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
    
    background-image: url('../../Views/images/registro.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
    position: relative;
    
    
}


.container{
    background: white;
    width: 30%;
    border-radius: 25px;
    margin-top: 6% ;
    text-align: center;
    max-width: 500px;
    
}
label {
    display: inline-block;
    margin-top: 10px;
    width: 25%;
    
}
input[type="text"], input[type="email"], input[type="number"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    align-items: center;
}
input[type="password"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    align-items: center;
}
input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f8d49b;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 50%;
    height: 52px;
}
input[type="submit"]:hover {
    background-color: #f8bc9b;
    color: white;
    font-family: 'Abel', sans-serif;
    
}

h1{
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    margin-top: 6%;
}
p{
    color: gray;
    font-family: 'Abel', sans-serif;
   
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        margin-top: 6% auto; 
}
}

#submit2{
    background-color: #75bde0;
}

#check1{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#btn2{
    background-color: #75bde0;
}

#btn2 :hover{
    background-color: #f8bc9b;
    color: white;
    font-family: 'Abel', sans-serif;
}

.form-check-input:checked{
    background-color: #75bde0;
    border-color: #75bde0;

}